/* =Reset
-------------------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html,
body,
div{
    margin: 0;
    padding: 0;
}

/* =Color
-------------------------------------------------------------- */

#header{
    background: #eeeae5;
}

#main {
    background: #fefaf5;
}

#primary {
}

#secondary .widget,
#tertiary .widget{
    /*background: #dddddd;*/
}


/* =Structure Core
-------------------------------------------------------------- */
.wrap{
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
}

.wrap:after {
    content: "";
    display: table;
    clear: both;
}


/* =Structure Mobile
-------------------------------------------------------------- */

#primary{
    max-width: 720px;
    margin: 0 auto;
}

#secondary,
#tertiary{
    max-width: 400px;
    margin: 0 auto;
}

#secondary .widget,
#tertiary .widget{
    padding: 1em;
    margin-bottom: 1em;
}

/* =Structure Tablet
-------------------------------------------------------------- */

@media screen and (min-width : 900px) {
    #primary{
        float: left;
        width: 65%;
        padding-right: 1em;
    }

    #secondary,
    #tertiary{
        float: right;
        clear: right;
        width: 35%;
        border-left: 1px solid #bbbbbb;
    }
}

/* =Structure Desktop
-------------------------------------------------------------- */

@media screen and (min-width : 1140px) {
    #header, #main, #footer {
        margin-left: 15%;
        margin-right: 15%;
    }

    #primary{
        float: left;
        margin-left: 25%;
        width: 50%;
        padding: 0 1em;
    }

    #secondary{
        float: left;
        margin: 0 0 0 -75%;
        width: 25%;
        clear: none;
        border-left: none;
        border-right: 1px solid #bbbbbb;
    }

    #tertiary{
        float: right;
        width: 25%;
        clear: none;
        border-left: 1px solid #bbbbbb;
    }
}